/*box*/
.droit {
    background-color: blue;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: white;
    transition: transform .1s;
    }
    .zoom:hover{
        transform: scale(1.3);
    }
    .transition {
        transition: transform .1s;
    }



.galery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
    flex-wrap: wrap;
    
   }


.sectiondroit {
    margin: 0px 200px 0px 200px;
}
/*Fin box*/

/*couleur PICT*/

.rose {
    background-color: #f8dfe7;
    color: #001958;
}

.bleu {
    background-color: #001958;
    color: white;
}

.jaune {
    background-color: #f7d688;
    color: #001958;
}
/* Fin couleur PICT */

/*police d'écriture*/
.barlow 
{
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
    
  }

 .barlow-bold {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
/*Fin police d'écriture*/

/*Retrait du soulignement sur les textes */
  a {
    text-decoration: none;
  }
/* Fin retrait du soulignement sur les textes */

/*Logo Pict du haut */
.logo {
    height: 100px;
}
/*Fin logo Pict du haut */

/*Haut de la page*/
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 200px;
}
.titre{
    margin-left: 20px;
}
h1{
    color: #001958;
}
h2 {
    color: #001958;
}
/*Fin haut de la page*/

/*Police d'écriture, couleur etc...*/
.p{
    color: #001958;
    font-size: larger;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
}
/*Fin police d'écriture, couleur etc...*/

/*Couleur arrière plan*/
.backgroundcolor {
    background-color: #BCD8F9;
}
/*Fin couleur arrière plan*/

/*Bas de page*/
 .footer { 
    background-color: #001958;
    width: auto;
    height: auto;
    border-radius:20px 20px 0px 0px;
    margin: 0px 200px 0px 200px;
    text-align: center;
    position: absolute;
    bottom: 10;
    left: 0;
    right: 0;
 }

 .foot{
    background-color: #001958;
    width: auto;
    height: auto;
    border-radius:20px 20px 0px 0px;
    margin: 0px 200px 0px 200px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
 }

.logobas {
    width: 160px;
    height: 160px;
    margin-top: 10px;
}
/*Fin bas de page*/

/*Police d'écriture de l'adresse en bas de page*/
.adresse {
    font-family: "Barlow", sans-serif;
    color: white; 
}
/*Fin police d'écriture de l'adresse en bas de page*/




